@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --text-dark: #484554;
  --text-light: #F9EFFD;
  --text-medium: #ADA9BB;
  
  --alt-color01: #7168B6;
  --alt-color02: #938BB7;
  --alt-color03: #E7D7F6;
  --alt-color04: #F4CECB;
  
  --background01: #1E1B24;
  --background02: #736E7B;
  --background03: #F7F7F7;
  --background04: #6D5192;
  --background05: #DC9C98;

  --font-primary: 'Outfit', sans-serif;
  --font-header: 'Fredoka One', sans-serif;
  --font-secondary: 'Oxanium', sans-serif;
  --font-header-alt: 'Fredoka', sans-serif;

  --transition-speed: 600ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('Player-Background.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #270e03;
}

body::-webkit-scrollbar-thumb {
  background: #FFBAB7;
}

h1 {
  font-size: 68px;
  position: absolute;
  top: 52px;
  text-transform: uppercase;
  color: var(--text-dark);
  font-family: var(--font-header);
}

h4 {
  color: var(--text-dark);
  font-family: var(--font-header-alt);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

h5 {
  color: var(--text-dark);
  font-family: var(--font-header-alt);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  color: var(--text-dark);
  font-family: var(--font-primary);
  font-size: 8px;
}

p {
  color: var(--text-dark);
  font-family: var(--font-primary);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.music-container {
  background-color: rgba(247, 247, 247, 0.90);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(192, 154, 255, 0.60);
  display: flex;
  padding: 20px 30px;
  position: absolute;
  margin: 100px 100px;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: var(--background03);
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius:50%;
  transform: translate(-50%, -55%);
}

.img-container img {
  width: inherit;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  
  animation: rotate 5s linear infinite;
  
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
  
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: var(--background03) 90%;
  border: 0;
  color: var(--alt-color03);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn-big {
  color: var(--alt-color02);
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0; 
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;  
}

.music-info h4 {
  margin: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.Song-Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scroll-container {
  overflow: hidden;

}

#artist {
  transform: translateX(100%);
  animation: artistScroll 15s linear infinite;
}

@keyframes artistScroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.Time-Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-container {
  background: var(--alt-color03);
  border: 1px solid #E1CFFF;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fcb2ad;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
}

.sidebar {
  position: fixed;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 909.52%), linear-gradient(180deg, var(--alt-color01) 0%, var(--alt-color02) 100%);
  left: 0;
  transition: width 200ms ease;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.nav-item:last-child {
  margin-top: auto;
  margin-bottom: 0px;
  border-radius: 0px 0px 10px 0px;
  background: linear-gradient(0deg, rgba(109, 81, 146, 0.33) 0%, rgba(117, 111, 150, 0.35) 100%);
}

.nav-link {
  display: flex;
  align-items: center;
  height: 80px;
  color: var(--text-light);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--background-secondary);
  color: var(--text-secondary)
}

.link-text {
  display: none;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
  font-family: var(--font-header);
  color: var(--text-light);
  min-width: 160px;
}

#title-text {
  text-transform: uppercase;
  min-width: 180px;
  margin-left: 10px;
}

.nav-link svg {
  min-width: 32px;
  margin:  0 24px;
}

.fa-primary {
  color: #8F1200;
}

.fa-secondary {
  color: #4F0113;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  margin-bottom: 38px;
  text-align: center;
  color: var(--text-light);
  background: linear-gradient(180deg, rgba(109, 81, 146, 0.35) 0%, rgba(96, 89, 149, 0.35) 100%);
  width: 100%;
  border-radius: 0px 10px 0px 0px;
}

.logo svg {
  width: 85px;
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}

.sidebar:hover .logo svg {
  transform: rotate(-180deg);
  margin-top: 10px;
}

/* small devices */
@media only screen and (max-width: 600px) {
  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 105px;
  }
  
  .logo {
    display: none;
  }

  .nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* large devices */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 105px;
    height: 100vh;
  }

  .sidebar:hover {
    width: 315px;
  }

  .sidebar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
  
}